GITHUB_TOKEN=your_github_personal_access_token_here
AZURE_TENANT_ID=your_azure_tenant_id_here
AZURE_CLIENT_ID=your_azure_client_id_here
AZURE_CLIENT_SECRET=your_azure_client_secret_here
AZURE_SUBSCRIPTION_ID=your_azure_subscription_id_here